@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url('Grid-07.png');
  background-repeat: repeat;
}

.page {
  padding-top: 80px;
  background-image: url('Grid-07.png');
  background-color: #030303;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.main-wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.header {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  display: flex;
  align-items: center;
  gap: 40px 175px;
  color: #fff;
  justify-content: center;
  flex-wrap: wrap;
  padding: 15px 0px;
  font: 600 16px Inter, sans-serif;
  border: 1px solid rgba(255, 255, 255, 0.15);
  margin-top: -1px;
  position: fixed;
  z-index: 1000;
  backdrop-filter: blur(5px);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #0B0B0B;
  min-width: 280px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  padding-top: 10px;
  padding-bottom: 10px;
  z-index: 999;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.dropdown-menu a {
  color: white;
  padding: 10px 15px;
  max-height: 55px;
  display: block;
  text-decoration: none;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu a:hover {
  background-color: #1A1A1A;
  color: white;
}

.dropdown-item {
  padding: 8px 10px;
}

.dropdown-item:last-child {
  border-bottom: none;
}

.dropdown-item:hover .item-title,
.dropdown-item:hover .item-description {
  color: #ffffff;
  transition: color 0.3s;
}

.item-title {
  font: 700 16px Inter, sans-serif;
  color: #545454;
  text-decoration: none;
  display: block;
  margin-bottom: -2px;
}

.item-description {
  color: #545454;
  font-weight: 500;
  font-size: 12px;
  margin: 0;
}

.nav-container {
  display: flex;
  min-width: 240px;
  align-items: center;
  gap: 40px 100px;
  justify-content: space-between;
  width: 1220px;
  margin: auto 0;
}

.logo {
  aspect-ratio: 2.53;
  object-fit: contain;
  width: 106px;
  align-self: stretch;
  margin: auto 0;
}

.nav-links {
  display: flex;
  min-width: 240px;
  align-items: center;
  gap: 40px 45px;
  justify-content: start;
  margin: auto 0;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  font: 600 16px Inter, sans-serif;
}

.nav-link-with-icon {
  display: flex;
  align-items: center;
  gap: 5px;
}

.nav-link {
  transition: all 0.3s ease;
}

.nav-link:hover {
  color: #48F0C8;
}

.nav-icons {
  color: white;
  display: flex;
  gap: 20px;
  font-size: 1.2rem;
  text-decoration: none;
  align-items: center;
  justify-content: end;
}

.nav-icons .icon {
  color: white;
  font-size: 1.2rem;
  text-decoration: none;
  transition: .5s ease;
}

.nav-icons .icon:hover {
  color: #48f0c8;
}

.general-title-section {
  text-align: center;
  justify-content: center;
  margin-top: 50px;
}

.subtitle {
  color: rgba(255, 255, 255, 0.6);
  font: 500 16px Inter, sans-serif;
  text-decoration: none;
}

.title {
  color: #fff;
  font: 600 50px Inter, sans-serif;
}

.filter-section {
  display: flex;
  justify-content: center;
  margin: 45px auto 30px;
}

.filter-buttons {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.filter-btn {
  padding: 10px 30px;
  border-radius: 50px;
  background-color: hsla(0, 0%, 4%, 0);
  font: 500 14px Inter, sans-serif;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
  border: 1px solid hsla(0, 0%, 100%, 0.0);
}

.filter-btn:hover {
  background-color: #0b0b0b;
  border: 1px solid hsla(0, 0%, 100%, 0.15);
}

.filter-btn.active {
  background-color: #49f6d3;
  font: 600 14px Inter, sans-serif;
  color: #000;
}

/* ==== FILTRAGEM ==== */

.filter-dropdown {
  background: #121212;
  border: 1px solid hsla(0, 0%, 100%, 0.15);
  border-radius: 6px;
  padding: 20px;
  padding-bottom: 25px;
  width: 250px;
  max-height: 240px;
  position: absolute;
  z-index: 10;
  top: 110%;
  left: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.filter-produto {
  display: flex;
  flex-direction: column;
}

.filter-title {
  font: 600 18px Inter, sans-serif;
  color: #ffffff;
  margin-bottom: 14px;
}

.filter-group {
  font: 400 15px Inter, sans-serif;
  color: #dddddd;
  line-height: 25px;
}

.horizontal-divider {
  height: 1px;
  background-color: hsl(0, 0%, 100%, 0.2);
  width: 250px;
  position: relative;
  margin: 15px auto;
  top: 50%;
  transform: translateY(-50%);
}

/* == FILTER INPUT RANGE == */

input[type="range"] {
  -webkit-appearance: none;
  /* Remove o estilo padrão */
  width: 100%;
  height: 7px;
  border-radius: 5px;
  background: #383838;
  outline: none;
  margin-top: 8px;
  transition: background 0.3s;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #48f0c8;
  /* Verde */
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: background 0.3s;
}

input[type="range"]::-moz-range-thumb {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #48f0c8;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

input[type="range"]::-moz-range-track {
  background: #333;
  height: 7px;
  border-radius: 5px;
}

/* === CHECKBOX === */

.custom-checkbox {
  position: relative;
  padding-left: 27px;
  cursor: pointer;
  font: 400 15px Inter, sans-serif;
  user-select: none;
  color: #dddddd;
  display: block;
  align-items: center;
  margin-top: 12px;
}

.custom-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  left: 0;
  height: 13px;
  width: 13px;
  background-color: #111;
  border: 2px solid #777;
  border-radius: 4px;
  transition: background 0.2s, border 0.2s;
}

.custom-checkbox:hover .checkmark {
  border-color: #48f0c8;
}

.custom-checkbox input:checked~.checkmark {
  background-color: #48f0c8;
  border-color: #48f0c8;
}

.checkmark::after {
  content: "";
  position: absolute;
  display: none;
  left: 4px;
  top: 1px;
  width: 3px;
  height: 7px;
  border: solid #111;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.custom-checkbox input:checked~.checkmark::after {
  display: block;
}

/* === LISTA DE PROJETOS === */

.project-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 1220px;
  margin: 20px auto;
  padding: 0 20px;
  margin-bottom: 150px;
}

.project-card-horizontal {
  display: flex;
  width: 1220px;
  height: 350px;
  background-color: hsla(168, 100%, 86%, 0.02);
  border: 1px solid hsla(0, 0%, 100%, 0.20);
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  color: white;
}

.project-image {
  width: 50%;
  border-radius: 30px;
  outline: 1px solid hsla(0, 0%, 100%, 0.20);
  background-size: cover;
  background-position: center;
  min-height: 350px;
  min-width: 600px;
  overflow: hidden;
  position: relative;
}

.project-image::before {
  content: '';
  position: absolute;
  inset: 0;
  background-image: var(--img);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: transform 0.4s ease;
  z-index: 0;
}

.project-image:hover::before {
  transform: scale(1.1);
}

.project-info {
  width: 50%;
  padding: 50px;
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-date {
  font: 300 16px Inter, sans-serif;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 8px;
}

.project-title {
  font: 600 24px Inter, sans-serif;
  margin-bottom: 10px;
  margin-top: -20px;
}

.project-description {
  font: 300 16px Inter, sans-serif;
  color: hsla(0, 0%, 100%, 0.60);
  margin-bottom: 20px;
  margin-top: -15px;
}

.project-button {
  align-self: flex-start;
  background: transparent;
  border-radius: 25px;
  font: 400 16px Inter, sans-serif;
  color: white;
  text-decoration: none;
  transition: all 0.3s ease;
}

.project-button i {
  height: 30px;
  width: 30px;
  background-color: hsl(0, 0%, 85%, 0.10);
  margin-left: 5px;
  text-align: center;
  font-size: 12px;
  line-height: 32px;
  border-radius: 50%;
  cursor: pointer;
}

.project-button:hover {
  transform: scale(1.03);
  font-weight: 500;
}

.no-projects-msg {
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
  margin-top: -70px;
  margin-bottom: 180px;
  font-family: 'Inter', sans-serif;
  animation: fadeIn 0.4s ease-in-out;
}

.no-projects-msg i {
  font-size: 30px;
  height: 80px;
  width: 80px;
  background-color: #1A1A1A;
  text-align: center;
  line-height: 80px;
  border-radius: 100%;
  margin-bottom: 25px;
}

.no-projects-msg .main-text {
  font-size: 18px;
  font-weight: 500;
}

.no-projects-msg .sub-text {
  font-size: 14px;
  margin-top: 6px;
  color: rgba(255, 255, 255, 0.4);
}

.hidden {
  display: none;
}

/* === PRODUTOS === */

.product-grid-section {
  padding: 40px 20px;
  max-width: 1220px;
  margin: 0 auto;
}

.product-grid {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: flex-start;
  margin-bottom: 100px;
}

.product-card {
  width: 393px;
  background-color: #0a0a0a;
  max-width: 393px;
  border: 1px solid hsla(0, 0%, 100%, 0.1);
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  transition: transform 0.3s;
}

.product-img {
  width: 100%;
  height: 243px;
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  outline: 1px solid hsla(0, 0%, 100%, 0.2);
  position: relative;
  overflow: hidden;
}

.product-img::before {
  content: '';
  position: absolute;
  inset: 0;
  background-image: var(--img);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: transform 0.4s ease;
  z-index: 0;
}

.product-img:hover::before {
  transform: scale(1.1);
}

.product-info {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  position: relative;
}

.product-title {
  font: 500 18px Inter, sans-serif;
  color: #fff;
}

.product-price {
  color: rgba(255, 255, 255, 0.7);
  font: 300 16px Inter, sans-serif;
}

.wishlist-btn {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: hsl(0, 0%, 100%, 0.7);
  cursor: pointer;
  font-size: 20px;
  transition: color 0.3s;
}

.wishlist-btn i {
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 100%;
  text-align: center;
  background-color: hsl(0, 0%, 100%, 0.00);
  transition: background 0.4s ease;
}

.wishlist-btn i:hover {
  background-color: hsl(0, 0%, 100%, 0.06);
}

/* ==== FOOTER ==== */

.product-controls-section {
  padding: 40px 0px;
  width: 1220px;
  margin: 0 auto -40px;
}

.product-controls-section .controls {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1220px;
  margin-top: -25px;
}

.filter-btn-grid,
.sort-toggle {
  display: flex;
  align-items: center;
  max-height: 43px;
  border: 1px solid hsla(0, 0%, 100%, 0.20);
  color: white;
  background-color: #0B0B0B;
  font: 400 16px Inter, sans-serif;
  padding: 13px 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.filter-btn-grid i {
  margin-right: 13px;
  color: #fff;
}

.filter-btn-grid:hover,
.sort-toggle:hover {
  background-color: #111111;
}

.product-count {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font: 500 16px Inter, sans-serif;
  color: white;
  text-align: center;
  pointer-events: none;
}

.product-details {
  display: flex;
  gap: 40px;
  max-width: 1220px;
  margin: 60px auto;
  margin-bottom: 150px;
  padding: 0 20px;
  color: white;
}

.product-gallery {
  display: flex;
  width: 60%;
  gap: 10px;
}

.thumbnails {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.thumbnails .thumb {
  width: 83px;
  height: 58px;
  object-fit: cover;
  border-radius: 10px;
  border: 2px solid transparent;
  cursor: pointer;
  transition: border 0.2s ease;
  opacity: 70%;
}

.thumbnails .thumb:hover,
.thumbnails .thumb.active {
  border: 2px solid #48f0c8;
  opacity: 100%;
}

.main-image {
  position: relative;
  flex: 1;
  overflow: hidden;
  padding: 2px;
  border-radius: 30px;
}

.main-image img {
  width: 100%;
  height: 420px;
  object-fit: cover;
  border-radius: 15px;
  border: 1px solid rgb(255, 255, 255, 0.3);
}

.terms-link {
  margin-top: 12px;
  font: 400 14px Inter, sans-serif;
  color: #ccc;
}

.terms-link i {
  margin-right: 5px;
}

.terms-link a {
  color: #48f0c8;
  text-decoration: underline;
}

.product-detalhes-info {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.top-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-bottom: -10px;
}

.product-name {
  font: 600 36px Inter, sans-serif;
  margin-bottom: 5px;
}

.share-btn {
  background: none;
  border: none;
  color: white;
  background-color: rgb(217, 217, 217, 0.1);
  line-height: 22px;
  text-align: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  font-size: 15px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.share-btn:hover {
  transform: scale(1.1);
}

.product-price {
  font: 400 22px Inter, sans-serif;
  color: #fff;
  margin: 20px 0 10px;
}

.product-short-desc {
  font: 400 15px Inter, sans-serif;
  color: #949494;
  margin-bottom: 20px;
}

.add-to-cart {
  background-color: #48f0c8;
  color: black;
  border: none;
  height: 57px;
  padding: 12px 20px;
  font: 500 16px Inter, sans-serif;
  border-radius: 12px;
  cursor: pointer;
  width: 100%;
  transition: background 0.2s ease;
}

.add-to-cart i {
  margin-right: 10px;
}

.add-to-cart:hover {
  background-color: #23af8f;
}

.divider {
  border: none;
  border-top: 1px solid rgb(255, 255, 255, 0.5);
  margin: 30px 0;
}

.product-long-desc {
  font: 300 15px Inter, sans-serif;
  color: rgb(255, 255, 255, 0.9);
  margin-bottom: 20px;
}

.product-long-desc h3 {
  font: 600 18px Inter, sans-serif;
  margin-bottom: 15px;
  color: #fff;
}

.product-update {
  font: 300 13px Inter, sans-serif;
  color: #8C8C8C;
}

/* === SERVIÇOS === */

.services-section {
  padding: 40px 20px;
  max-width: 1220px;
  margin: 0 auto;
}

.services-grid {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
  margin-bottom: 100px;
}

.service-card {
  width: 311px;
  height: 200px;
  background-color: #070808;
  border: 1px solid hsla(0, 0%, 100%, 0.2);
  border-radius: 15px;
  border-top-left-radius: 0px;
  padding: 40px 40px;
  color: #fff;
  text-align: start;
  transition: transform 0.3s ease;
}

.service-card i {
  font-size: 30px;
  color: #ffffff;
  margin-bottom: 38px;
}

.service-card h3 {
  font: 500 22px Inter, sans-serif;
  margin-bottom: 15px;
}

.service-card p {
  font: 400 15px Inter, sans-serif;
  color: rgb(255, 255, 255, 0.5);
  min-height: 50px;
  margin-bottom: -15px;
}

.see-projects-link {
  font: 400 14px Inter, sans-serif;
  color: #ffffff;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 5px;
  transition: color 0.2s;
}

.see-projects-link i {
  font-size: 10px;
  margin-top: 41px;
}

.see-projects-link:hover {
  text-decoration: underline;
}

.sort-dropdown {
  position: relative;
}

.sort-dropdown i {
  margin-left: 11px;
}

.sort-menu {
  position: absolute;
  top: 110%;
  right: 0;
  list-style: none;
  background-color: #121212;
  border: 1px solid hsla(0, 0%, 100%, 0.15);
  border-radius: 6px;
  width: 250px;
  padding: 8px 0;
  z-index: 10;
}

.sort-menu li {
  padding: 10px 14px;
  text-decoration: none;
  text-align: center;
  color: #A8A8A8;
  font: 400 15px Inter, sans-serif;
  cursor: pointer;
  transition: background 0.2s ease;
}

.sort-menu li:hover {
  background-color: rgba(255, 255, 255, 0.08);
  color: white;
}

.main-footer {
  background-color: #090909;
  color: #fff;
  padding: 40px 0;
}

.footer-container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  position: relative;
  margin-bottom: 40px;
}

.footer-left {
  flex: 1;
}

.footer-logo {
  width: 140px;
  margin-bottom: 25px;
}

.footer-phrase {
  font: 300 16px Inter, sans-serif;
  color: #868686;
  margin-bottom: 15px;
  max-width: 350px;
}

.footer-socials {
  display: flex;
  gap: 15px;
}

.social-icon {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 28px;
  margin-top: 20px;
}

.social-icon,
.social-about-icon img {
  width: 35px;
  height: 35px;
  transition: transform 0.3s;
}

.social-icon:hover,
.social-about-icon:hover img {
  transform: scale(1.1);
}

.footer-right {
  flex: 1;
}

.footer-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: -15px;
}

.footer-menu-title {
  font: 500 18px Inter, sans-serif;
  color: #fff;
  margin-bottom: 35px;
}

.footer-menu li {
  margin-bottom: 18px;
}

.footer-menu a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  font: 300 16px Inter, sans-serif;
  transition: color 0.3s;
}

.footer-menu a:hover {
  color: #fff;
}

.footer-bottom {
  border-top: 1px solid #333;
  padding-top: 20px;
  margin-bottom: -15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font: 300 14px Inter, sans-serif;
  color: rgba(255, 255, 255, 0.6);
}

@media (max-width: 991px) {
  .header {
    padding: 0 20px;
  }

  .hero-title {
    font-size: 40px;
    line-height: 51px;
  }

  .about-container {
    max-width: 100%;
    padding: 0 20px;
  }

  .social-links {
    display: none;
  }

  .content-wrapper {
    max-width: 100%;
  }

  .about-content {
    max-width: 100%;
  }

  .title {
    font-size: 40px;
  }

  .role {
    max-width: 100%;
  }

  .description {
    max-width: 100%;
  }

  .resume-button {
    margin-top: 40px;
    padding: 0 20px;
  }

  .cta-text {
    align-self: stretch;
    width: 161px;
    margin: auto 0;
  }
}

/*.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}*/

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}